@import url('https://fonts.googleapis.com/css?family=Quicksand');

.add-exercise-container {
  font-family: 'Quicksand', sans-serif;
  /* background-color: green; */
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.add-exercise-container form {
  width: 45%;
  /* background-color: yellow; */
  margin-top: -20%;
}


.fieldset-exercise .form-input {
  padding-top: 4px;
}
.fieldset-exercise {
  padding-bottom: 6px
}

.add-exercise-container button {
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 3px;
  /* background: #aaa */
}

.form-input .form-error {
  display: inline-flex;
  float: right;
  width: 70px;
  text-align: left;
  margin-left: 5px;
  color: red;

}

/* INPUT */
input[type="checkbox"]{
  appearance:none;
  width:40px;
  height:16px;
  border:1px solid #aaa;
  border-radius:2px;
  background:#ebebeb;
  position:relative;
  display:inline-block;
  overflow:hidden;
  vertical-align:middle;
  transition: background 0.3s;
  box-sizing:border-box;
}
input[type="checkbox"]:after{
  content:'';
  position:absolute;
  top:-1px;
  left:-1px;
  width:14px;
  height:14px;
  background:white;
  border:1px solid #aaa;
  border-radius:2px;
  transition: left 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
input[type="checkbox"]:checked{
  background:#adffa6;
  border-color:#90e58d;
}
input[type="checkbox"]:checked:after{
  left:23px;
  border-color:#94e58d;
}

input[type="checkbox"]:hover:not(:checked):not(:disabled):after,
input[type="checkbox"]:focus:not(:checked):not(:disabled):after{
  left:0px;
}

input[type="checkbox"]:hover:checked:not(:disabled):after,
input[type="checkbox"]:focus:checked:not(:disabled):after{
  left:22px;
}

input[type="checkbox"]:disabled{
  opacity:0.5;
}