@import url('https://fonts.googleapis.com/css?family=Quicksand');

@media only screen and (max-width: 900px) {
  .browse-exercises {
    font-family: 'Quicksand', sans-serif;
    display: block;
  }

  .exercise-list {
    width: auto;
  }
}

.browse-exercises {
  font-family: 'Quicksand', sans-serif;
  height:100%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}


.exercise-list {
  width: 300px
}

.browse-exercises p:hover {
  font-weight: bold;
  font-size: 18px;
}

.browse-exercises p {
  padding-top: 8px;
}

.browse-exercises h1 {
  font-size: 25px;
  /* padding-top: 3%; */
  font-weight: bold;
}