
@media only screen and (max-width: 800px) {
  
  .inner-container {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .worked-muscles {
    order: 1
  }

  .recent-workout {
    order: 1;
    margin-bottom: 10px;
  }

  .log-workout {
    order: 13;
    margin-bottom: 10px;
  }

  .workout-stats {
    order: 1;
    margin-top: 10px;
  }

}

.dashboard-container {
  padding-top: 10px;
}

.inner-container {
  width: 97%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.recent-workout{
  /* height: 20%; */
}


.worked-muscles {
  min-width: 50vw;
  max-width: 50vw;
  /* height: 100vh; */
}

.log-workout {
  /* min-width: 40vw;
  max-width: 40vw;
  width: 30vw; */
  margin-bottom: 30px;
}
