h1 {
  color: red;
}

.your-workouts {
  float: right;
  border: 2px solid green;
}

.worked-muscles {
  border: 2px solid yellow
}

.log-workout {
  float: right;
  border: 2px solid red;
  color: blue
}

.create-workout {
  border: 2px solid orange;
  float: right;
  color: orange
}