h1 {
  color: red;
}

.recent-workout{
  float:right;
  border: 2px solid purple
}

.your-workouts {
  float: right;
  border: 2px solid green;
}

.worked-muscles {
  border: 2px solid yellow;
  margin-left: 20px
}

.log-workout {
  float: right;
  border: 2px solid red;
  color: blue
}

.create-workout {
  border: 2px solid orange;
  float: right;
  color: orange
}