@media only screen and (max-width: 900px) {

  .exercise-page {
    display: flex;
    flex-direction: column;
    /* overflow: visible; */
  }
  
  .picture {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
  }

  .exercise-form {
    display: block;
    padding-left: 50px;
  }
  
  .browse-exercises {
    display: block;
    padding-left: 50px;
  }
}

.exercise-page {
  /* position: relative; */
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  /* position: fixed; */
  /* overflow: hidden; */
}

.exercise-form {
  /* flex: 1 0 45%; */
  /* position: absolute;
  top: 0;
  left: 35%; */
  height: 100vh;
  width: 32.5vw;
  /* margin-top: 5%; */
}

.browse-exercises {
  /* flex: 1 0 50%; */
  /* position: absolute;
  top: 0;
  left: 50%; */
  height: 100vh;
  width: 32.5vw
}

.picture {
  /* flex: 0 1 100%; */
  background-image: url('../../assets/175b4207-1158-427f-abc8-934137c6cf85_rw_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -370px 0px;
  width: 35vw;
  height: 100vh
}

