@media only screen and (max-width: 800px) {

  div.exercise-page {
    display: flex;
    flex-direction: column;
    overflow: visible;
    position: relative;
  }

  div.picture {
    display: none;
  }
}

.exercise-page {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  position: fixed;
  overflow: hidden;
}

.exercise-form {
  /* flex: 1 0 45%; */
  height: 100vh;
  width: 32.5vw;
  /* margin-top: 5%; */
}

.browse-exercises {
  /* flex: 1 0 50%; */
  height: 100vh;
  width: 32.5vw
}

.picture {
  /* flex: 0 1 100%; */
  background-image: url('../../assets/175b4207-1158-427f-abc8-934137c6cf85_rw_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -370px 0px;
  width: 35vw;
  height: 100vh
}