@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Quicksand');


@media only screen and (max-width: 800px) {
  div.font-wrapper {
    width: 50vw;
    padding-left: 10%
  }

  div.buttons {
    margin-left: 10%
  }
}

.homepage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background-image: url('../../assets/hero.jpg');
  background-size: cover;
}

.font-wrapper{
  padding-left: 150px;
  padding-top: 30px;
  width: 300px;
}


.homepage h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 144px
}

.buttons {
  margin-left: 120px;
  margin-top: 60px;
}

.buttons a {
  margin-left: 30px;
  width: 100px;
  height: 80px;
  border-radius: 5px;
  background:#8ed887;
  border: 10px solid #8ed887;
  /* border-color:#90e58d; */
  font-family: 'Quicksand', sans-serif;
  font-size: 16px
}

.buttons a:hover {
  text-decoration: underline
}

