.nav {
  display: flex;
  height: 35px;
  align-items: center;
  list-style: none;
  background-color: lightcoral;
}

a {
  flex: 1;
  padding-right: 30px;
  padding-left: 30px;
  color: black;
  font-size: 16px;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
} 

.active {
  color: purple;
}