@import url('https://fonts.googleapis.com/css?family=Quicksand');


.exercises {
  font-family: 'Raleway', sans-serif;
  /* width: 400px; */
  /* height: 100%; */
}

.exercises li {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.2;
  color: black;
  /* margin-left: 20px; */
}

.exercises-in-workout {
  /* background-color: blue; */
  /* height: 50%; */
  /* min-height: 300px; */
}

.exercises h1, h2 {
  /* margin-left: 15px; */
  padding-top: 10px;
  font-size: 19px;
  font-weight: bold;
  height: 30px;
}
