@import url('https://fonts.googleapis.com/css?family=Quicksand');

.exercises {
  font-family: 'Quicksand', sans-serif;
  width: 400px;
  height: 50%
}

.exercises p {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.exercises-in-workout {
  height: 300px;
}

.exercises h1 {
  text-align: center;
  padding-top: 10px;
  font-size: 19px;
  font-weight: bold;
  height: 30px;
}

.disclaimer {
  width: 100%;
  height: 200px;
  background-color: yellow;
}

.disclaimer h2 {

}