/* body {
  overflow-y: hidden;
}; */

::-webkit-scrollbar { 
  display: none; 
}

.signupPage {
  width: 100vw;
  height: 97vh;
  background-image: url('../../assets/pexels-photo-685530.jpeg');
  background-size: cover;
  /* background-position: center center; */
  background-repeat: no-repeat;
  overflow: hidden;
  background-attachment: fixed;
}

h3 {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: white;
  text-align: center
}


