.signup-form-container {
  display: flex;
  justify-content: center;
  align-content: center;

}

.fieldset {
  display: flex;
  align-items: center;
  align-content: space-around
  /* font-size: 50px */
}

