/* body {
  overflow-y: hidden;
}; */
@import url('https://fonts.googleapis.com/css?family=Oswald:700');

.signupPage ::-webkit-scrollbar { 
  display: none; 
}

.signupPage {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/hero.jpg');
  background-size: cover;
  /* background-position: center center; */
  background-repeat: no-repeat;
  overflow: hidden;
  position: fixed
}

h3 {
  margin-top: 40px;
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  color: black;
  text-align: center
}


