@media only screen and (max-width: 800px) {
  .workedMuscles-container {
    width: 100vw;
  }
}

.workedMuscles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* background-color: blue; */
  /* height: 90%; */
}

.svg-container {
  /* background-color: rgb(32, 117, 32); */
  /* border: 1px solid black; */
}


