.workedMuscles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* background-color: blue; */
  height: 90%;
  border-right: 1px solid lightgray; 
}

.svg-container {
  /* background-color: rgb(32, 117, 32); */
  /* border: 1px solid black; */
}

.muscleStrain-container {
  /* background-color: orange; */
  border-top: 1px solid lightgray;
  margin-left: -30px;
  margin-top: 25px;
  height: 150px;
  column-count: 2;
  column-rule: 1px solid lightblue;
  /* column-width: 10px; */
}
