@media only screen and (max-width: 800px) {

  div.workout-page {
    display: flex;
    flex-direction: column;
    overflow: visible;
    position: relative;
  }

  div.workout-picture {
    display: none;
  }
}

.workout-page {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  position: fixed;
  overflow: hidden;
}

.workout-form {
  /* flex: 1 0 45%; */
  height: 100vh;
  width: 32.5vw;
  /* margin-top: 5%; */
}

.your-workouts {
  /* flex: 1 0 50%; */
  height: 100vh;
  width: 32.5vw
}

.workout-picture {
  /* flex: 0 1 100%; */
  background-image: url('../../assets/pexels-photo-931321.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -370px 0px;
  width: 35vw;
  height: 100vh
}