
.workout-page {
  /* position: relative; */
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  /* position: fixed; */
  /* overflow: hidden; */
}

.workout-form {
  /* flex: 1 0 45%; */
  /* position: absolute;
  top: 0;
  left: 35%; */
  height: 100vh;
  width: 32.5vw;
  /* margin-top: 5%; */
}

.your-workouts {
  /* flex: 1 0 50%; */
  /* position: absolute;
  top: 0;
  left: 50%; */
  height: 100vh;
  width: 32.5vw
}

.workout-picture {
  /* flex: 0 1 100%; */
  background-image: url('../../assets/pexels-photo-685530.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -370px 0px;
  width: 35vw;
  height: 100vh
}

@media only screen and (max-width: 440px) {

  .workout-page {
    display: flex;
    flex-direction: column;
  }
  
  .workout-picture {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
  }

  .workout-form {
    width: 100vw;
  }
  
  .your-workouts {
    width: 100vw
  }
}