@import url('https://fonts.googleapis.com/css?family=Quicksand');


.browse-workouts {
  font-family: 'Quicksand', sans-serif;
}


.workout-list {
  width: 300px;
  height: auto;
}

.browse-workouts p:hover {
  font-weight: bold;
  font-size: 18px;
}

.browse-workouts p {
  padding-top: 8px;
}

.browse-workouts h1 {
  font-size: 25px;
  font-weight: bold;
}
  @media only screen and (max-width: 400px) {
    .browse-workouts {
      width: 100vw
    }
  }